img {
  max-width: 100%;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(224, 237, 255);
}

.jumbotron {
  background-color: #fff;
}
