.page-movies {
  padding: 40px 0;
  .form-inline {
    flex-wrap: nowrap;
    .form-group {
      width: calc(100% - 140px);
      input {
        width: 100%;
        border-radius: 0;
      }
    }
    .btn {
      max-width: 140px;
      border-radius: 0;
    }
  }
}
